.content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}

.content__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
}

.content__left {
    grid-column-start: 1;
    grid-column-end: 1;
}

.content__right {
    grid-column-start: 2;
    grid-column-end: 2;
}

/*    tablet styles    */
@media screen and (max-width: 769px) {
    .content, .content__row {
        grid-template-columns: 1fr;
    }

    .content__row {
        grid-column: 1;
    }
}

/*    mobile styles    */
@media screen and (max-width: 425px) {
}
